html 
  head
    title='Budget'
  body
    link(rel="stylesheet" href="/css/budget.css")
    link(rel="stylesheet" href="/css/normalize.css")
    

    .grid-container
        .grid-header="Header"

            

        .transactions-container
            .transaction-header
                .transaction-title="Transactions May 2023"
            .transaction-rows
                .transaction-row.header
                    .transaction-date="DATE"
                    .transaction-amount="AMOUNT"
                    .transaction-description="DESCRIPTION"
                    .transaction-category="CATEGORY"
                

        .budget-container
            .budget-header
                .budget-title="Budget May 2023"
            .budget-subheader
                .start-date= "Start date: dd-mm-yyyy"
                .budget-sum= "Budget sum: <Sum>"
                .button-edit= "Edit"

            .budget-rows
                each category of categories
                    .budget-row.category-parent
                            .category-name= category.name
                            .category-amount= category.amount
                            
                    
                    
        .grid-footer="Footer"

script(src="/logic/budget.js" type="text/javascript") 

