html 
  head
    title='Transactions'
  body
    link(rel="stylesheet" href="/css/test.css")
    include header.pug
    
    
    .content
        .transactions
            .header 
                .title 
                    p Transactions
                .buttons 
                    #add-trans-button Add new transaction 
                    .sort-by-button Sort by 
                    .asc-dsc-button ASC 
            .row-header
                .date Date
                .amount Amount
                .description Description
                .category Category
            .rows 
                each trans in transactions 
                    .row
                        .date= trans.date
                        .amount= trans.amount
                        .description= trans.name
                        .category
                            if trans.category_id 
                                p.categorized Category id: #{trans.category_id}
                            else 
                                p.categorized Transaction has yet to be categorized 
                        

        
    

    include footer.pug


    script(src="/views/test.js" type="text/javascript")
